body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2083px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u27833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:894px;
}
#u27833 {
  border-width:0px;
  position:absolute;
  left:1708px;
  top:38px;
  width:375px;
  height:894px;
  display:flex;
}
#u27833 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27833_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:690px;
}
#u27834 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:38px;
  width:1100px;
  height:690px;
  display:flex;
}
#u27834 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27834_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:888px;
}
#u27835 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:38px;
  width:360px;
  height:888px;
  display:flex;
}
#u27835 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27835_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:757px;
}
#u27836 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:115px;
  width:370px;
  height:757px;
  display:flex;
}
#u27836 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27836_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u27837 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:687px;
  width:61px;
  height:16px;
  display:flex;
}
#u27837 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27837_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27838_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u27838 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:687px;
  width:71px;
  height:20px;
  display:flex;
  color:#D9001B;
}
#u27838 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u27838_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u27839 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:200px;
  width:0px;
  height:0px;
}
#u27839_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:96px;
  height:10px;
}
#u27839_seg1 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:-10px;
  width:20px;
  height:20px;
}
#u27839_text {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:40px;
}
#u27840 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:383px;
  width:313px;
  height:40px;
  display:flex;
}
#u27840 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27840_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:40px;
}
#u27841 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:546px;
  width:313px;
  height:40px;
  display:flex;
}
#u27841 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27841_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27842_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u27842 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:367px;
  width:43px;
  height:20px;
  display:flex;
  color:#D9001B;
}
#u27842 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u27842_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u27843_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u27843 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:520px;
  width:43px;
  height:20px;
  display:flex;
  color:#D9001B;
}
#u27843 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u27843_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u27844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:40px;
}
#u27844 {
  border-width:0px;
  position:absolute;
  left:1739px;
  top:409px;
  width:313px;
  height:40px;
  display:flex;
}
#u27844 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27844_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:40px;
}
#u27845 {
  border-width:0px;
  position:absolute;
  left:1739px;
  top:574px;
  width:313px;
  height:40px;
  display:flex;
}
#u27845 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27845_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27846_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u27846 {
  border-width:0px;
  position:absolute;
  left:1905px;
  top:387px;
  width:43px;
  height:20px;
  display:flex;
  color:#D9001B;
}
#u27846 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u27846_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u27847_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u27847 {
  border-width:0px;
  position:absolute;
  left:1905px;
  top:550px;
  width:43px;
  height:20px;
  display:flex;
  color:#D9001B;
}
#u27847 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u27847_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u27848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:309px;
}
#u27848 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:549px;
  width:329px;
  height:309px;
  display:flex;
}
#u27848 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27848_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:282px;
}
#u27849 {
  border-width:0px;
  position:absolute;
  left:1731px;
  top:574px;
  width:329px;
  height:282px;
  display:flex;
}
#u27849 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27849_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:26px;
}
#u27850 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:891px;
  width:16px;
  height:26px;
  display:flex;
}
#u27850 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27850_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27851_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27851 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:889px;
  width:15px;
  height:20px;
  display:flex;
}
#u27851 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u27851_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u27852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:26px;
}
#u27852 {
  border-width:0px;
  position:absolute;
  left:1727px;
  top:888px;
  width:16px;
  height:26px;
  display:flex;
}
#u27852 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27852_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27853_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27853 {
  border-width:0px;
  position:absolute;
  left:1727px;
  top:887px;
  width:15px;
  height:20px;
  display:flex;
}
#u27853 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u27853_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u27854_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27854 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:571px;
  width:306px;
  height:34px;
  display:flex;
}
#u27854 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27854_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27855_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27855 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:578px;
  width:297px;
  height:20px;
  display:flex;
}
#u27855 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u27855_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u27856_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27856 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:623px;
  width:306px;
  height:98px;
  display:flex;
}
#u27856 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27856_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27857_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27857 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:631px;
  width:295px;
  height:20px;
  display:flex;
}
#u27857 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u27857_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u27858_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27858 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:662px;
  width:292px;
  height:20px;
  display:flex;
}
#u27858 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u27858_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u27859_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27859 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:693px;
  width:295px;
  height:20px;
  display:flex;
}
#u27859 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u27859_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u27860_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27860 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:738px;
  width:306px;
  height:98px;
  display:flex;
}
#u27860 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27860_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27861_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27861 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:746px;
  width:293px;
  height:20px;
  display:flex;
}
#u27861 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u27861_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u27862_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27862 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:776px;
  width:293px;
  height:20px;
  display:flex;
}
#u27862 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u27862_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u27863_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27863 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:808px;
  width:295px;
  height:20px;
  display:flex;
}
#u27863 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u27863_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u27864_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27864 {
  border-width:0px;
  position:absolute;
  left:1742px;
  top:583px;
  width:306px;
  height:34px;
  display:flex;
}
#u27864 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27864_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27865_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27865 {
  border-width:0px;
  position:absolute;
  left:1747px;
  top:590px;
  width:297px;
  height:20px;
  display:flex;
}
#u27865 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u27865_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u27866_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27866 {
  border-width:0px;
  position:absolute;
  left:1742px;
  top:635px;
  width:306px;
  height:98px;
  display:flex;
}
#u27866 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27866_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27867_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27867 {
  border-width:0px;
  position:absolute;
  left:1747px;
  top:643px;
  width:295px;
  height:20px;
  display:flex;
}
#u27867 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u27867_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u27868_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27868 {
  border-width:0px;
  position:absolute;
  left:1749px;
  top:674px;
  width:292px;
  height:20px;
  display:flex;
}
#u27868 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u27868_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u27869_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27869 {
  border-width:0px;
  position:absolute;
  left:1747px;
  top:705px;
  width:295px;
  height:20px;
  display:flex;
}
#u27869 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u27869_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u27870_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27870 {
  border-width:0px;
  position:absolute;
  left:1742px;
  top:750px;
  width:306px;
  height:98px;
  display:flex;
}
#u27870 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27870_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27871_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27871 {
  border-width:0px;
  position:absolute;
  left:1747px;
  top:758px;
  width:293px;
  height:20px;
  display:flex;
}
#u27871 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u27871_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u27872_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27872 {
  border-width:0px;
  position:absolute;
  left:1747px;
  top:788px;
  width:293px;
  height:20px;
  display:flex;
}
#u27872 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u27872_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u27873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27873 {
  border-width:0px;
  position:absolute;
  left:1747px;
  top:820px;
  width:295px;
  height:20px;
  display:flex;
}
#u27873 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u27873_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
