body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1598px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u30882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:641px;
}
#u30882 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:135px;
  width:300px;
  height:641px;
  display:flex;
}
#u30882 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30882_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u30883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1120px;
}
#u30883 {
  border-width:0px;
  position:absolute;
  left:803px;
  top:135px;
  width:375px;
  height:1120px;
  display:flex;
}
#u30883 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30883_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u30884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:798px;
}
#u30884 {
  border-width:0px;
  position:absolute;
  left:1223px;
  top:131px;
  width:375px;
  height:798px;
  display:flex;
}
#u30884 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30884_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u30885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:44px;
}
#u30885 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:177px;
  width:107px;
  height:44px;
  display:flex;
}
#u30885 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30885_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u30886 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:199px;
  width:0px;
  height:0px;
}
#u30886_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:125px;
  height:10px;
}
#u30886_seg1 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:-10px;
  width:20px;
  height:20px;
}
#u30886_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
