body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1238px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u28470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:951px;
}
#u28470 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:45px;
  width:1200px;
  height:951px;
  display:flex;
}
#u28470 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28470_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:14px;
}
#u28471 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:790px;
  width:90px;
  height:14px;
  display:flex;
}
#u28471 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28471_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28472_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u28472 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:790px;
  width:71px;
  height:20px;
  display:flex;
  color:#D9001B;
}
#u28472 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28472_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:14px;
}
#u28473 {
  border-width:0px;
  position:absolute;
  left:1097px;
  top:798px;
  width:90px;
  height:14px;
  display:flex;
}
#u28473 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28473_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28474_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u28474 {
  border-width:0px;
  position:absolute;
  left:1117px;
  top:798px;
  width:71px;
  height:20px;
  display:flex;
  color:#D9001B;
}
#u28474 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28474_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:22px;
}
#u28475 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:541px;
  width:273px;
  height:22px;
  display:flex;
}
#u28475 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28475_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:40px;
}
#u28476 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:672px;
  width:266px;
  height:40px;
  display:flex;
}
#u28476 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28476_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:22px;
}
#u28477 {
  border-width:0px;
  position:absolute;
  left:914px;
  top:541px;
  width:273px;
  height:22px;
  display:flex;
}
#u28477 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28477_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:40px;
}
#u28478 {
  border-width:0px;
  position:absolute;
  left:921px;
  top:672px;
  width:266px;
  height:40px;
  display:flex;
}
#u28478 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28478_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28479_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28479 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:250px;
  width:80px;
  height:20px;
  display:flex;
}
#u28479 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28479_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28480_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28480 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:350px;
  width:80px;
  height:20px;
  display:flex;
}
#u28480 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28480_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28481_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28481 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:430px;
  width:80px;
  height:20px;
  display:flex;
}
#u28481 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28481_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28482_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28482 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:532px;
  width:80px;
  height:20px;
  display:flex;
}
#u28482 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28482_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28483_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28483 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:620px;
  width:80px;
  height:20px;
  display:flex;
}
#u28483 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28483_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:263px;
}
#u28484 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:701px;
  width:302px;
  height:263px;
  display:flex;
}
#u28484 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28484_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28485_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:63px;
}
#u28485 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:955px;
  width:339px;
  height:63px;
  display:flex;
}
#u28485 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28485_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:54px;
}
#u28486 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:960px;
  width:28px;
  height:54px;
  display:flex;
}
#u28486 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28486_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28487_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u28487 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:977px;
  width:13px;
  height:20px;
  display:flex;
  font-size:12px;
}
#u28487 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28487_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28488_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:254px;
}
#u28488 {
  border-width:0px;
  position:absolute;
  left:906px;
  top:712px;
  width:296px;
  height:254px;
  display:flex;
}
#u28488 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28488_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:54px;
}
#u28489 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:1172px;
  width:28px;
  height:54px;
  display:flex;
}
#u28489 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28489_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28490_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u28490 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:1189px;
  width:13px;
  height:20px;
  display:flex;
  font-size:12px;
}
#u28490 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28490_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28491_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:58px;
}
#u28491 {
  border-width:0px;
  position:absolute;
  left:895px;
  top:977px;
  width:319px;
  height:58px;
  display:flex;
}
#u28491 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28491_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:54px;
}
#u28492 {
  border-width:0px;
  position:absolute;
  left:902px;
  top:977px;
  width:28px;
  height:54px;
  display:flex;
}
#u28492 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28492_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28493_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u28493 {
  border-width:0px;
  position:absolute;
  left:916px;
  top:994px;
  width:13px;
  height:20px;
  display:flex;
  font-size:12px;
}
#u28493 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28493_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:254px;
}
#u28494 {
  border-width:0px;
  position:absolute;
  left:906px;
  top:718px;
  width:332px;
  height:254px;
  display:flex;
}
#u28494 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28494_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28495_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:272px;
}
#u28495 {
  border-width:0px;
  position:absolute;
  left:906px;
  top:703px;
  width:329px;
  height:272px;
  display:flex;
}
#u28495 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28495_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28496_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:254px;
}
#u28496 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:701px;
  width:324px;
  height:254px;
  display:flex;
}
#u28496 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28496_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28497_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:254px;
}
#u28497 {
  border-width:0px;
  position:absolute;
  left:906px;
  top:703px;
  width:324px;
  height:254px;
  display:flex;
}
#u28497 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28497_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
