body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1044px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u24842_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1044px;
  height:620px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.56078431372549);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24842 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1044px;
  height:620px;
  display:flex;
}
#u24842 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24842_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24843_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:326px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24843 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:194px;
  width:650px;
  height:326px;
  display:flex;
}
#u24843 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24843_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u24844 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:214px;
  width:109px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u24844 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24844_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  text-align:right;
}
#u24845 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:214px;
  width:13px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  text-align:right;
}
#u24845 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24845_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:2px;
}
#u24846 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:254px;
  width:613px;
  height:1px;
  display:flex;
}
#u24846 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24846_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24847 label {
  left:0px;
  width:100%;
}
#u24847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:12px;
  height:12px;
}
#u24847 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:270px;
  width:120px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
#u24847 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u24847_img.selected {
}
#u24847.selected {
}
#u24847_img.disabled {
}
#u24847.disabled {
}
#u24847_img.selectedDisabled {
}
#u24847.selectedDisabled {
}
#u24847_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:104px;
  word-wrap:break-word;
  text-transform:none;
}
#u24847_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u24848_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:22px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u24848_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:22px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u24848_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24848 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:270px;
  width:170px;
  height:22px;
  display:flex;
}
#u24848 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24848_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:22px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24848.disabled {
}
.u24848_input_option {
}
#u24849 label {
  left:0px;
  width:100%;
}
#u24849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:12px;
  height:12px;
}
#u24849 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:310px;
  width:120px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
#u24849 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u24849_img.selected {
}
#u24849.selected {
}
#u24849_img.disabled {
}
#u24849.disabled {
}
#u24849_img.selectedDisabled {
}
#u24849.selectedDisabled {
}
#u24849_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:104px;
  word-wrap:break-word;
  text-transform:none;
}
#u24849_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u24850_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:22px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u24850_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:22px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u24850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24850 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:310px;
  width:170px;
  height:22px;
  display:flex;
}
#u24850 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24850_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:22px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24850.disabled {
}
.u24850_input_option {
}
#u24851 label {
  left:0px;
  width:100%;
}
#u24851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:12px;
  height:12px;
}
#u24851 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:350px;
  width:120px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
#u24851 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u24851_img.selected {
}
#u24851.selected {
}
#u24851_img.disabled {
}
#u24851.disabled {
}
#u24851_img.selectedDisabled {
}
#u24851.selectedDisabled {
}
#u24851_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:104px;
  word-wrap:break-word;
  text-transform:none;
}
#u24851_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u24852_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:22px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u24852_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:22px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u24852_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24852 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:350px;
  width:170px;
  height:22px;
  display:flex;
}
#u24852 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24852_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:22px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24852.disabled {
}
.u24852_input_option {
}
#u24853_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:32px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u24853 {
  border-width:0px;
  position:absolute;
  left:712px;
  top:448px;
  width:66px;
  height:32px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u24853 .text {
  position:absolute;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u24853_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24854_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:32px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u24854 {
  border-width:0px;
  position:absolute;
  left:784px;
  top:448px;
  width:66px;
  height:32px;
  display:flex;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u24854 .text {
  position:absolute;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u24854_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
