body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:385px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u28643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:940px;
}
#u28643 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:1px;
  width:375px;
  height:940px;
  display:flex;
}
#u28643 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28643_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:31px;
}
#u28644 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:44px;
  width:81px;
  height:31px;
  display:flex;
}
#u28644 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28644_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:842px;
}
#u28645 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:83px;
  width:369px;
  height:842px;
  display:flex;
}
#u28645 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28645_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:55px;
}
#u28646 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:92px;
  width:80px;
  height:55px;
  display:flex;
}
#u28646 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28646_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28647_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28647 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:162px;
  width:57px;
  height:20px;
  display:flex;
}
#u28647 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28647_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:685px;
}
#u28648 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:240px;
  width:369px;
  height:685px;
  display:flex;
}
#u28648 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28648_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28649_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28649 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:198px;
  width:57px;
  height:14px;
  display:flex;
}
#u28649 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28649_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28650_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28650 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:198px;
  width:57px;
  height:14px;
  display:flex;
}
#u28650 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28650_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:21px;
}
#u28651 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:514px;
  width:146px;
  height:21px;
  display:flex;
}
#u28651 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28651_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:21px;
}
#u28652 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:514px;
  width:146px;
  height:21px;
  display:flex;
}
#u28652 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28652_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:21px;
}
#u28653 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:881px;
  width:146px;
  height:21px;
  display:flex;
}
#u28653 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28653_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:21px;
}
#u28654 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:886px;
  width:146px;
  height:21px;
  display:flex;
}
#u28654 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28654_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
