.ax_default {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.box_1 {
}
.box_2 {
}
.box_3 {
}
.ellipse {
}
.placeholder {
}
.button {
}
.primary_button {
  color:#FFFFFF;
}
.shape {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
.image {
}
.heading_1 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
  line-height:20px;
}
.paragraph {
  text-align:left;
}
._表单提示 {
  color:#999999;
}
._表单禁用 {
}
.line {
}
.text_field {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.radio_button {
  text-align:left;
}
.tree_node {
  text-align:left;
}
._线段 {
}
.flow_shape {
}
.box_21 {
}
.connector {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
.sticky_1 {
  text-align:left;
}
.image1 {
  color:#000000;
}
.marker {
  color:#FFFFFF;
}
.checkbox1 {
  text-align:left;
}
.table_cell {
}
.text_field1 {
  color:#000000;
  text-align:left;
}
.menu_item {
}
.heading_11 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.icon {
}
._图片 {
}
.droplist1 {
  color:#000000;
  text-align:left;
}
._图片1 {
  color:#000000;
}
.paragraph1 {
  text-align:left;
}
._二级标题 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._形状 {
}
.label1 {
  font-size:14px;
  text-align:left;
}
._文本框 {
  color:#000000;
  text-align:left;
}
.ellipse1 {
}
.iconfont {
  font-family:'iconfont', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
._垂直线 {
}
._水平线 {
}
.radio_button1 {
  text-align:left;
}
._多行文本框 {
  color:#000000;
  text-align:left;
}
.box_31 {
}
.text_area {
  color:#000000;
  text-align:left;
}
.horizontal_line {
}
.shape1 {
}
._文本段落 {
  text-align:left;
}
._图片_ {
}
._形状1 {
}
._形状2 {
}
.heading_21 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._默认样式 {
}
.sticky_2 {
  text-align:left;
}
.sticky_3 {
  text-align:left;
}
.sticky_4 {
  text-align:left;
}
.image2 {
  color:#000000;
}
.icon1 {
}
.font_awesome_5_free_solid {
  font-family:'Font Awesome 5 Free', sans-serif;
  font-weight:900;
  font-style:normal;
}
.link_button {
  color:#169BD5;
}
.arrow {
}
.form_disabled {
}
.form_hint {
  color:#999999;
}
._图片_1 {
}
._连接 {
}
._图片2 {
  color:#000000;
}
textarea, select, input, button { outline: none; }
