body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1238px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u40284_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1043px;
  height:441px;
}
#u40284 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1043px;
  height:441px;
  display:flex;
}
#u40284 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u40284_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u40285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:427px;
}
#u40285 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:0px;
  width:188px;
  height:427px;
  display:flex;
}
#u40285 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u40285_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
